:root {
  --primary: #002e41;
  --secondary: #ff5722;
  --success: #4caf50;
  --info: #00bcd4;
  --warning: #ff9800;
  --danger: #f44336;
  --light: #f1f1f1;
  --dark: #212121;
  --error: #f44336;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-white {
  background-color: var(--light) !important;
}

.text-white {
  color: white !important;
}

.bg-success {
  background-color: var(--success);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-error {
  background-color: var(--error);
}
